.head {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.instacam {
    max-width: 50px;
    height: auto;
    
}

.insta {
    width: 150px;
    height: auto;
    margin: 0 150px 0 20px;
}


.search {
    height: 30px;
    align-items: center;
    border-bottom: 1px solid grey;
    text-align: center;
    }
