@import "./components/SearchBar/SearchBar.css";
@import "./components/PostContainer/PostContainer.css";
@import "./components/CommentSection/CommentSection.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
